
#menu-left::-webkit-scrollbar {
  width: 0.5em;
}
 
#menu-left::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}
 
#menu-left::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#menu {
    position: absolute;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 25%;
    width: 75%;
    font-family: 'Open Sans', sans-serif;
}

.menu-left {
  width: 15%;
  position: inherit;
  text-align: center;
}

.menu-left h4 {
  margin-bottom: 0px !important;
}

.menu-right {
  width: 85%;
  margin-left: 15%;
}

#menu-left {
    position: absolute;
    background: #fff;
    overflow-y: scroll;
    height: 100%;
    width: 25%;
    font-family: 'Open Sans', sans-serif;
}

#menu-left .top {
    padding: 10px 20px 30px 20px;
    background: #d8d8d8;
}

#menu-left .bottom {
    padding: 10px 20px 30px 20px;
}

#menu-left hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #000;
  margin: 1em 0;
  padding: 0; 
}

#menu-left .top .subtitle-menu {
  padding-top: 20px;
}

.col1 {
  background: #1a721b;
}

.col2 {
  background: #33ac28;
}

.col3 {
  background: #6fd626;
}

.col4 {
  background: #f8e71c;
}

.col5 {
  background: #f5a623;
}

